@import "tailwindcss";
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Add this to handle the main background transition */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827; /* gray-900 */
    color: #f3f4f6; /* gray-100 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
